.container-title {
    font-size: 28px
    font-weight: bold
    color: #3cb4e7
    padding-left: 16px
    padding-top: 16px
}

.container-table {
    border: 1px solid #e0e0e0
    border-radius: 8px
    padding: 0px 0px 16px 0px
}

.custom-nav {
  border-right: solid 1px #e0e0e0
}

.profile-title {
  font-weight: bold
  color: grey
  margin-top: 16px
}

.v-data-table
  > .v-data-table__wrapper
  tbody
  tr.v-data-table__expanded__content {
  box-shadow: none !important
}

.common-snackbar .v-snack__content {
  padding: 12px 8px 0 8px;
}

.no-bullets {
  list-style: none;
}

.row-space-between {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

.row-start-left {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
}

.row-end-right {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-end;
}